<!-- Created by Evilasio Junior #301122341 -->
<!-- Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="navbar-text mx-auto">&copy;&nbsp;Copyright 2021. All rights reserved. Evilasio Junior #301122341 - COMP229 - Summer 2021</h6>
      </div>
    </nav>
  </footer>