<!-- Created by Evilasio Junior #301122341 -->
<!-- About Me Page -->

<!--Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"></h1>
    <h1>About me page </h1>
    <br><br>
    <div class="about-section">
      <meta charset="utf-8">
      <div class="container">
        <h1>Evilasio Junior #301122341</h1>     
        <div>
          <img src="/Assets/images/Me.jpg" alt="my picture" style="float:right;" height="200" width="200">
          <p class="display-5"><p>I'm a student in the <i>Software Engineering</i> program at <b>Centennial College.</b></p>
          <p>One of my favorite quote is:</p>
          <blockquote>
            <i>We simply attempt to be fearful when others are greedy and to be greedy only when others are fearful.</i>
            <br><b><i>Warren E. Buffet</i></b>
          </blockquote>
          <p>Some of my favorite things to do are:</p>
          <ol>
            <li>Watch movies/series</li>
            <li>Play soccer</li>
            <li>Sleep</li>
            <li>Eat</li>
            <li>Read books</li>
            <li>Play stock market</li>
          </ol>
        </div>  
      </div>
    </div>
  </div>
</main>
