<!-- Created by Evilasio Junior #301122341 - 18/06/2021 -->
<!-- Home page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-6"></h1>
    <div class="container">
      <h1>Welcome to my Home Page!</h1>    
      <br><br><br><br> 
      <div>
        <p class="display-8">This is my personal portfolio and here you will be able to find all sort of information by clicking on the nav bar or start by clicking here,
          <a href="/about" color=;>about me</a>, <a href="/contact">contact me</a>, <a href="/services">services</a> and <a href="/projects">projects</a> I have done during the Software Engineering Course.
        </p>
      </div>  
      <br>
      <p class="display-8"> It's a pleasure having you visiting my web page!</p>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>