<!-- Created by Evilasio Junior #301122341 - 18/06/2021 -->
<!-- Products Page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h2 class="display-6">My Projects:</h2>
    </div>
    <div>
      <article>
        <div class="contact">
        <br><br><br>
          <!-- Icon class -->
          <li><i class="fab fa-lg fa-chrome"></i> <b>Portfolio: </b></li><br><br>
          <p><i class="fas fa-lg fa-tools"></i> Page under construction.. </p>          
        </div>
      </article>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>