<!-- Created by Evilasio Junior #301122341 - 18/06/2021 -->
<!-- Services Page -->
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<!-- Main Content -->
    <section class="portfolio">
        <div class="container">
            <div class="services">
                <h2> The list below presents types of services that I learned during the Software Engineering course:</h2><br>
            </div>
            <p></p>
            <div class="box">
                <li>Web applications </li>
                <p></p>
                <li>Web development</li>
                <p></p>
                <li>Programing C#</li>
                <p></p>
                <li>Oracle SQL</li>
                <p></p>
                <li>Agile / Scrum</li>
                <p></p>
                <li>Leadership</li>
                <p></p>
                <li>Software testing</li>
            </div>
        </div>
    </section>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %>